name: VR APK Build

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    name: Unity Build (Android)
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Cacher Library
        uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-
            
      - name: Bygger Unity Prosjekt
        uses: game-ci/unity-builder@v4
        env:
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          targetPlatform: Android
          androidExportType: androidPackage
          buildname: VR_Simulator_Build
          projectPath: .

      - name: Lager Github Versjon
        uses: softprops/action-gh-release@v1
        if: success()
        with:
          tag_name: v0.1.${{ github.run_number }}
          name: Build v0.1.${{ github.run_number }}
          files: build/Android/VR_Simulator_Build.apk
          fail_on_unmatched_files: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
